{% extends 'base.html.twig' %}

{% block title %}Feedbacks{% endblock %}

{% block body %}
  <style>
    .table { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
  </style>
  <h1>Feedbacks</h1>
  <table class="table table-dark" >
    <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Text</th>
      <th>Created at</th>
      <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for feedback in feedbacks %}
      <tr>
        <td>{{ feedback.id }}</td>
        <td>{{ feedback.title|raw }}</td>
        <td>{{ feedback.text|raw }}</td>
        <td>{{ feedback.createdAt|date('Y-m-d H:i:s') }}</td>
        <td>
          <a href="{{ path('feedback_show', {'id': feedback.id}) }}">show</a>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="5">no records found</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="{{path('admin')}}">Back</a>
{% endblock %}
